html {
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

#topbox {
    margin-top: 0px;
    padding-top: 10px;
    height: 200px;
    background-color: #651508;
    color: #2B990B;
    border-color: #ffaaaa;
    text-align: center;
}

#navigation {
    position: absolute;
    width: 200px;
    margin-top: 0px;
    padding-top: 50px;
}

#maintext {
    position: absolute;
    max-width: 500px;
    min-width: 300px;
    margin-left: 220px;
    margin-top: 0px;
}
