urls_downloaded_cb({"token": "control", "urls": ["Installing.html#custom-install-behaviour", "Creating-releases.html#creating-releases", "Release-notes-for-0-41-0.html#page-description", "Running-Meson.html#configuring-the-source", "Quick-guide.html#compiling-a-meson-project", "Quick-guide.html#page-description", "Release-notes-for-0-46-0.html#page-description", "Wrap-best-practices-and-tips.html#page-description", "Release-notes-for-0-47-0.html#page-description", "Reference-manual.html#vcs_tag", "Syntax.html#foreach-statements", "Build-options.html#features"]});