urls_downloaded_cb({"token":"Control","urls":[{"url":"Release-notes-for-1-7-0.html#control-the-number-of-child-processes-with-an-environment-variable","node_type":"h2","page":"Release 1.7.0","sections":["New features","Control the number of child processes with an environment variable"],"context":{"gi-language":["default"]}}]});