urls_downloaded_cb({"token":"kconfig.load","urls":[{"url":"Keyval-module.html#keyvalload","node_type":"p","page":"keyval module","sections":["keyval module","Usage","keyval.load()"],"context":{"gi-language":["default"]}},{"url":"Release-notes-for-0-52-0.html#enhancements-to-the-kconfig-module","node_type":"p","page":"Release 0.52.0","sections":["New features","Enhancements to the kconfig module"],"context":{"gi-language":["default"]}}]});