urls_downloaded_cb({"token": "rules", "urls": ["Contributing.html#python-coding-style", "Contributing.html#cc-coding-style", "Release-notes-for-0-46-0.html#page-description", "Reference-manual.html#dependency-object"]});